{% extends "base.html" %}

{% block content %}

{% import "macros.html" as macros %}

<script>
  function reloadPage(){
      location.replace('/config/strips');
  }
</script>

    <h1>Interp Config</h1>
      <form action="" id="config" method="post" onchange = "reloadPage();" novalidate>
        {{ form1.hidden_tag() }}
        <p>
            {{ form1.num_strips.label }}<br>
            {{ form1.num_strips(size=3) }}
	    {% for error in form1.num_strips.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form1.rust_path.label }}<br>
            {{ form1.rust_path(size=64) }}
	    {% for error in form1.rust_path.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>
            {{ form1.brightness.label }}<br>
            {{ form1.brightness(size=3) }}
	    {% for error in form1.brightness.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>{{ form1.submit() }}</p>
      </form>
      <br>
      <form action="" id="stripconfigure-form" method="post" role="form">
	{{ form2.hidden_tag() }}

	<div id="subforms-container">
	  {% for subform in form2.stripconfigs %}
	  {{ macros.render_stripconfigure_form(subform, loop.index0) }}
	  {% endfor %}
	</div>

	<button type="submit">Submit</button>
	
      </form>

      {% if form2.errors %}
            {{ form2.errors }}
        {% endif %}

        {# Form template #}
        {{ macros.render_stripconfigure_form(_template, '_') }}

{% endblock %}
