{% extends "base.html" %}

{% block content %}
<script>
  function reloadPage(){
      location.replace('/config/strips');
  }
</script>

    <h1>Interp Config</h1>
      <form action="" id="config" method="post" onchange = "reloadPage();" novalidate>
        {{ form1.hidden_tag() }}
        <p>
            {{ form1.num_strips.label }}<br>
            {{ form1.num_strips(size=3) }}
	    {% for error in form1.num_strips.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form1.rust_path.label }}<br>
            {{ form1.rust_path(size=64) }}
	    {% for error in form1.rust_path.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>
            {{ form1.brightness.label }}<br>
            {{ form1.brightness(size=3) }}
	    {% for error in form1.brightness.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>{{ form1.submit() }}</p>
      </form>
      <br>
      <form action="" id="strip-config" method="post" oninput = "reloadPage();" novalidate>
	{% for i in range(1,num_strips+1) %}
	<p>
          Strip: {{ i }}
	  {{ form2.strip_type.label }}
          {{ form2.strip_type }}
	  {% if form2.strip_type == 'link' %}
	    {{ form2.links_in_strip.label }}
            {{ form2.links_in_strip(size=3) }}
	  {% endif %}
	  {% for error in form2.strip_type.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
	{% endfor %}
        <p>{{ form2.submit() }}</p>
      </form>
{% endblock %}
