{% extends "base.html" %}

{% block scripts %}
{{ super() }}
{{ colorpicker.loader() }}
{{ colorpicker.picker(ids=["#line_color_hex"], color_format='hex') }}
{% endblock %}
{% block app_content %}
<style>
  .image {
      float: right;
  }
</style>

<script src="/static/javascript/setup.js" defer></script>

<h1>Interp Strip Setup</h1>
    <label for="strip-selector">Select a Strip:</label>
	<select id="strip-selector" onchange = "getSelectValue();">
	  {% for i in range(1,configure.num_strips+1) %}
	  <option value="{{i}}">{{i}}</option>
	  {% endfor %}
	</select>
	<div class="image">
	  <img src="{{url_for('static', filename='/images/display.png')}}" align="middle" width="672" height="378"/>
	  <hr/>
	  <a href="{{ url_for('running') }}">Run Program</a>
	  <button id="drawstripstart">Select Start Point</button>
	  <button id="drawstripend">Select End Point</button>

	</div>
	<form action="" id="strip-selector" method="post" novalidate>
          {{ form.hidden_tag() }}
	  <p>
            {{ form.strip_num.label }}<br>
            {{ form.strip_num(size=3) }}
	    {% for error in form.strip_num.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p>
            {{ form.num_pixels.label }}<br>
            {{ form.num_pixels(size=3) }}
	    {% for error in form.num_pixels.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.start_pos_x.label }}<br>
            {{ form.start_pos_x(size=4) }}
	    {% for error in form.start_pos_x.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.start_pos_y.label }}<br>
            {{ form.start_pos_y(size=4) }}
	    {% for error in form.start_pos_y.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.angle.label }}<br>
            {{ form.angle(size=4) }}
	    {% for error in form.angle.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.length.label }}<br>
            {{ form.length(size=4) }}
	    {% for error in form.length.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
	<p id='line-color-hex'>
            {{ form.line_color_hex.label }}<br>
            {{ form.line_color_hex(size=7) }}
	    {% for error in form.line_color_hex.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.zig_zags.label }}<br>
            {{ form.zig_zags(size=3) }}
	    {% for error in form.zig_zags.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.zag_distance.label }}<br>
            {{ form.zag_distance(size=4) }}
	    {% for error in form.zag_distance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.num_angles.label }}<br>
            {{ form.num_angles(size=3) }}
	    {% for error in form.num_angles.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.enable_poly.label }}<br>
            {{ form.enable_poly(size=4) }}
	    {% for error in form.enable_poly.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ip.label }}<br>
            {{ form.ip(size=13) }}
	    {% for error in form.ip.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
	</form>
      {% endblock %}
